import /init.vivalto5mve3g_base.rc
import /init.wifi.rc

on boot
#++latin_mm:lkj for MobileTV [ISDBT]
service mobileTV /system/bin/broadcastProcessObserver_ltn
    class main
    user system
    group system audio camera graphics sdcard_rw sdcard_r media_rw shell

service smplayer /system/bin/OneSegSMPlayer
    class main
    user system
    group system audio media graphics inet sdcard_rw shell
#--latin_mm:lkj for MobileTV [ISDBT]

on fs
#++latin_mm:lkj for MobileTV [ISDBT]
    mkdir /data/one-seg 0775 system system
    chown system system /data/one-seg
    chmod 0775 /data/one-seg
    chown system system /dev/isdbt
    chmod 0660 /dev/isdbt
#--latin_mm:lkj for MobileTV [ISDBT]